#app {
    height: 100%
}

header {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background-image: url('../public/img/bg-home.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 240px;
    height: 320px;
    box-shadow: #233566;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    color: #fff;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


.swiper-slide:nth-child(1) .card-header {
    background-color: #903D35;
}

.swiper-slide:nth-child(2) .card-header {
    background-color: #233566;
}

.swiper-slide:nth-child(3) .card-header {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4) .card-header {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5) .card-header {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6) .card-header {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7) .card-header {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8) .card-header {
    background-color: #233566;
}

.swiper-slide:nth-child(9) .card-header {
    background-color: rgb(218, 12, 218);
}


.card-body {
    position: relative;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;

}

.blockquote {
    position: relative;
    z-index: 1;
}

.layer {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.logo {
    width: 50px;
}

.logo:hover {
    cursor: pointer;
}

.boolroad:hover {
    cursor: pointer;
}

.boolroad-type-logo {
    margin-left: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.participants-bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -10;
    height: 100vh;
}

.participants-bg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: none;
}

.glass {
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    color: white;
}

@media screen and (min-width: 660px) {
    .w-md-50 {
        width: 50%;
    }
}